<section id="slide">
    <div class="contenedor">
        <div class="slide">
          <div>
              <ul>
                <li><img src="../../assets/imagen1.png"></li>
                <li><img src="../../assets/slide1.png"></li>
                <li><img src="../../assets/imagen1.png"></li>
                <li><img src="../../assets/slide1.png"></li>
              </ul>
          </div>
          <div>
          <h2>Nuestro doctores</h2>
          </div>
        </div>        
    </div>
</section>